* {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0;
  color: #000;
  outline: none;
}

/* ================common================ */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ==================content============= */

header {
  height: 100px;
  width: 100vw;
  text-align: center;
  border-bottom: 2px solid #dddddd;
}

.admin-content {
  padding-top: 50px;
  display: flex;
}
