* {
  box-sizing: border-box;
  margin: 0px auto;
  color: #000;
  outline: none;
}

/* ================common================ */

a {
  text-decoration: none;
}

/* ==================content============= */

header {
  height: 100px;
  width: 100vw;
}
