* {
  box-sizing: border-box;
  padding: 0;
  color: #000;
  outline: none;
}

/* ================common================ */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ==================content============= */

header {
  height: 100px;
  width: 100vw;
  text-align: center;
  border-bottom: 2px solid #dddddd;
}

.admin-content {
  padding-top: 50px;
  display: flex;
}

.admin-content__left {
  background-color: #dddddd;
  width: 20%;
  height: 100vh;
  padding: 30px 0 0 12px;
}

.admin-content__left > ul > li > a {
  font-weight: bold;
}

.admin-content__left ul li {
  margin: 6px 0;
}

.admin-content__left ul ul {
  margin-left: 20px;
}

.admin-content__right {
  width: 80%;
  padding: 30px 0 0 12px;
}

.admin-content__right__category-add input {
  height: 30px;
  width: 200px;
  padding-left: 12px;
  margin-top: 20px;
}

.admin-content__right__category-add button {
  display: block;
  margin-top: 10px;
  height: 30px;
  width: 100px;
  cursor: pointer;
}
