* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* =====================common ======================*/

.content {
  width: 1115px;
  margin: 0px auto;
}

/* =====================header========================= */

/* =========== header nav===============*/

#header {
  height: 90px;
  background-color: #1c5b41;
}
