:root {
  --primary-color: #fe9614;
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  height: 5000px;
}

/* =====================common ======================*/

a {
  text-decoration: none;
}

.content {
  width: 1115px;
  margin: 0px auto;
}

.btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.7;
  color: var(--primary-color);
}

/* =====================header========================= */

/* =========== header nav===============*/

header {
  position: sticky;
  top: -95px;
  z-index: 1;
}

#header {
  padding: 22px 0;
  background-color: #1c5b41;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__content {
  font-size: 5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.nav__search {
  height: 45px;
  width: 500px;
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 999px;
}

.nav__desc {
  opacity: 0.7;
  padding: 13px 38px;
  font-size: 1.4rem;
  color: #212529;
  font-weight: 400;
  border-right: 1px solid #e5e5e5;
}

.nav__txtsearch {
  width: 300px;
  height: 40px;
  padding: 15px;
  border: none;
}

.nav__btn--search {
  cursor: pointer;
  height: 44px;
  width: 60px;
  border-radius: 0 40px 40px 0;
  color: #fff;
  background: var(--primary-color);
  border: var(--primary-color);
}

.nav__btn--search:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.login {
  display: flex;
  align-items: center;
}

.btn-login,
.btn-create {
  padding: 8px 4px;
}

/* ===========navbar=============== */

.navbar {
  background-color: #fffaf0;
  padding: 5px 10px;
  height: 60px;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 60px;
}

.horizontal {
  height: 25px;
  opacity: 0.7;
  width: 1px;
  background-color: #212529;
  margin-left: auto;
}

.navbar__lv1 {
  display: flex;
}

.lv1__item {
  padding: 15px 20px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #1c5b41;
}

.lv1__item:hover {
  color: var(--primary-color);
}

.hotline {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.hotline__desc {
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #1c5b41;
}

.hotline__desc:hover {
  color: var(--primary-color);
}

.lv2 {
  position: relative;
}

.navbar__lv2 {
  display: none;
  margin-top: -7px;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  transform: perspective(600px) rotateX(0deg);
  z-index: 1;
}

.navbar__lv2 > li:not(:first-child) {
  border-top: 1px solid #666;
}

.navbar__lv2 > li > .lv1__item {
  display: inline-block;
  padding: 0 30px;
}

.lv2:hover .navbar__lv2 {
  display: block;
}

.arrow {
  position: absolute;
  top: 20px;
  right: 6px;
}

.lv1__item.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

/* ======================================main================== */

/* ==================banner================ */

.banner {
  background-color: #9f9b8f;
}

.banner__image {
  width: 100%;
  object-fit: cover;
}

/* sale */

.sale {
  background-color: var(--primary-color);
}

.sale__image {
  width: 100%;
}

/* ===============product-hot============== */

.product-hot {
  padding: 50px 0;
  background-color: #fffaf0;
}

.title-section {
  position: relative;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 3.2rem;
  color: #1c5b41;
}

.title-section::before {
  position: absolute;
  top: -20px;
  display: inline-block;
  content: "";
  height: 3px;
  width: 110px;
  background-color: var(--primary-color);
}

.product__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px 20px;
}

.product__image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product__desc {
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  color: #454545;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 20px;
}

.price {
  font-size: 1.6rem;
  line-height: 20px;
  color: var(--primary-color);
}

.cta {
  text-align: center;
  margin-top: 60px;
}

.btn__view-all {
  display: inline-block;
  padding: 20px 70px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 22px;
  color: #fff;
  background: #1c5b41;
  border-radius: 10px;
}

.btn__view-all:hover {
  opacity: 1;
  background-color: var(--primary-color);
  color: #fff;
}

/*==================== product new================= */

.product-new {
  padding: 90px 0;
}

.product-new__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.body__left {
  width: 40%;
}

.body__right {
  margin-left: 30px;
  width: 60%;
}

.product-new__image {
  width: 100%;
  height: 545px;
  object-fit: cover;
  border-radius: 10px;
}

/*=========================== product same price========================== */

.same-price {
  background-color: #1c5b41;
  padding: 60px 0;
}

.same-price__banner {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.same-price__title {
  color: #fff;
}

.btn__same-price {
  display: inline-block;
  padding: 20px 70px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 22px;
  color: #fff;
  background: var(--primary-color);
  border-radius: 10px;
}

.btn__same-price:hover {
  opacity: 1;
  background-color: #fff;
  color: var(--primary-color);
}

.same-price__desc {
  color: #fff;
}

.product__item {
  position: relative;
}

.buy-product {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 7px;
  position: absolute;
  top: 165px;
  border-radius: 0 0 10px 10px;
  background-color: #6c757d;
}

.buy-product__desc {
  color: #fff;
  font-size: 1.4rem;
  margin-left: 3px;
}
